@{
  Layout = "_Layout";
}
@model Factory.Models.Machine

<h4>Add a new machine</h4>
@using (Html.BeginForm())
{
  @Html.LabelFor(model => model.Name)
  @Html.TextBoxFor(model => model.Name, new {@class = "form-control", type="text", required="required"})

  @Html.LabelFor(model => model.MachineType)
  @Html.TextBoxFor(model => model.MachineType , new {@class = "form-control", type="text", required="required"})

  @Html.LabelFor(model => model.AverageRepairTime)
  @Html.TextBoxFor(model => model.AverageRepairTime, new {@class = "form-control", type="number", required="required", min="0", step="0.25"})

  @Html.LabelFor(model => model.RepairsNeeded)
  @Html.TextAreaFor(model => model.RepairsNeeded, new {@class = "form-control", type="text"})

  <input type="submit" class="btn btn-success mt-3 mb-3 create-button" value="Add New Machine" />
}

<p>@Html.ActionLink("View All Machines", "Index")</p>