@{
  Layout = "_Layout";
}

@model Factory.Models.Engineer

<h2>Are you sure you want to delete @Html.DisplayFor(model => model.Name)?</h2>

@using (Html.BeginForm())
{
  <input type="submit" value="Delete Engineer" class="btn btn-danger" />
}

@if (@Model.JoinEntities.Count == 0)
{
  <p><em>@Html.DisplayFor(model => model.Name) does not have any machines they are assigned to yet</em></p>
}
else
{
  <h4>Machines @Html.DisplayFor(model => model.Name) can work on</h4>
  <ul>
    @foreach (var join in Model.JoinEntities)
    {
      <li>@join.Machine.Name</li>
      @using (Html.BeginForm("DeleteMachine", "Engineers"))
      {
        @Html.Hidden("joinId", @join.MachineEngineerId)
        <input type="submit" value="Remove engineer from machine" class="btn btn-danger" />
      }
    }
  </ul>
}

@Html.ActionLink("Back to All Engineers", "Index")